[submodule "drone"]
	path = drone
	url = https://github.com/vespakoen/drone.git
[submodule "drone-docker"]
	path = drone-docker
	url = https://github.com/vespakoen/drone-docker.git
[submodule "brads-drone"]
	path = brads-drone
	url = https://github.com/bradrydzewski/drone.git
